/* classi comuni  */
.btn_utile {
    border-radius: 20px;
}

.mb-6 {
    margin-bottom: 6rem;
}

.text_color_gray {
    color: gray;
}

.fs-7 {
    font-size: 2.5rem;
}

.img_width {
    width: 100%;
}

.fs_section {
    font-size: 2.5rem;
}










.col_black {
    height: 50px;
    background-color: black;
}

.logo_sony {
    width: 100px !important;
}
















/* section numero 1  */
.returnal {
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-size: cover;
    background-position: center;
}



.returnal_banner {
    width: 100%;
}


.altezza_row_section1 {
    height: 600px;
}
















/* section numero 2 */
.border_radius_section2 {
    border-radius: 15px;
    width: 100%;
}

.bordo_sotto_ps5 {
    border-bottom: 2px solid blue;
}

.ghost_write {
    visibility: hidden;
}


/* queste queries le utilizzo per tenere l img della playstation allineata alla scritta console ps5 */
@media screen and (min-width: 767px) {
    .margine_negativo {
        margin-top: -50px;
    }

    .ghost_write {
        visibility: visible;
    }
}

@media screen and (min-width: 992px) {
    .margine_negativo {
        margin-top: -80px;
    }
}


@media screen and (min-width: 1200px) {
    .margine_negativo {
        margin-top: -100px;
    }
}




















/* section numero 3 */
.it_takestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}








/* section 6 */
.bg_color_section6 {
    background-color: hsl(20, 2.3%, 73.9%);
}

.img_width_section6 {
    width: 228px;
}

.testo_col_section6 {
    color: blue;
}


.ghost_col {
    display: none;
}

@media screen and (min-width:767px) {
    .ghost_col {
        display: inline-block;
    }
}










/* section 8 */
.bg_color_section8 {
    background-color: hsl(230.3, 45.7%, 15.9%);
}

.alt_section8 {
    height: 100%;
    align-items: center;
}