/* classi comuni  */
.btn_utile {
    border-radius: 20px;
}

.mb-6 {
    margin-bottom: 6rem;
}













.col_black {
    height: 50px;
    background-color: black;
}

.logo_sony {
    width: 100px;
}
















/* section numero 1  */
.returnal {
    background-image: url(../img/jumbo-bg.png);
    height: 500px;
    background-size: cover;
    background-position: center;
}



.returnal_banner {
    width: 100%;
}


.altezza_row_section1 {
    height: 500px;
}