/* classi comuni  */
.btn_utile {
    border-radius: 20px;
}

.mb-6 {
    margin-bottom: 6rem;
}

.text_color_gray {
    color: gray;
}

.fs-7 {
    font-size: 2.5rem;
}

.img_width {
    width: 100%;
}

.fs_section {
    font-size: 2.5rem;
}

.margin_right {
    margin-right: 2rem;
}

.cursor_pointer {
    cursor: pointer;
}












.col_black {
    height: 50px;
    background-color: black;
}

.logo_sony {
    width: 100px !important;
}


.margin_per_fixed {
    margin-top: 100px;
}







/* lavoro sulla navbar  */
.width-100 {
    width: 100%;
}


.li_style {
    list-style-type: disc;
    color: #0d6efd;
}

.paddding {
    padding: 0.25rem 0px;
}


.paddding:hover {
    color: #0d6efd;
}

.dropdown-item.text-center:hover {
    color: #0d6efd;
}











/* section numero 1  */
.returnal {
    background-image: url(../img/jumbo-bg.png);
    height: 610px;
    background-size: cover;
    background-position: top;
}



.returnal_banner {
    width: 100%;
}


.altezza_row_section1 {
    height: 610px;
}
















/* section numero 2 */
.border_colorato {
    outline: 2px solid white;
    box-shadow: 0 0 0 5px #0d6efd !important;
}



.border_radius_section2 {
    border-radius: 15px;
    width: 100%;
}

.bordo_sotto_ps5 {
    border-bottom: 2px solid blue;
}

.ghost_write {
    visibility: hidden;
}

.bordo_sotto {
    opacity: 0.6;
}


.bordo_sotto:hover {
    border-bottom: 2px solid blue;
    opacity: 1;
}

.bordo_invisibile {
    border-bottom: 2px solid transparent;
}



















/* section numero 3 */
.it_takestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}








/* section 6 */
.bg_color_section6 {
    background-color: hsl(20, 2.3%, 73.9%);
}

.img_width_section6 {
    width: 228px;
}

.testo_col_section6 {
    color: blue;
}


.ghost_col {
    display: none;
}

@media screen and (min-width:767px) {
    .ghost_col {
        display: inline-block;
    }
}










/* section 8 */
.bg_color_section8 {
    background-color: hsl(230.3, 45.7%, 15.9%);
}

.alt_section8 {
    height: 100%;
    align-items: center;
}









/* footer  */
.bg_footer {
    background-color: hsl(214.2, 100%, 30.6%);
}









/* effetti hover  */

.btn-dark:hover {
    outline: auto;
    box-shadow: 0 0 0 3px black !important;
}

.btn-primary:hover {
    outline: auto;
    box-shadow: 0 0 0 3px #0d6efd !important;
}


.btn-danger:hover {
    outline: 3px solid black;
    box-shadow: 0 0 0 5px #dc3545 !important;
}


.btn-light:hover {
    outline: 3px solid hsl(20, 2.3%, 73.9%);
    box-shadow: 0 0 0 5px white !important;
}


.btn-info:hover {
    outline: 3px solid hsl(230.3, 45.7%, 15.9%);
    box-shadow: 0 0 0 5px white !important;
}


.carta_section2:hover {
    transform: translateY(-10px);
    transition: transform .7s;
}